
/*====================
======Typography=====
======================*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body {
	font-family: 'Roboto', sans-serif;
	position: relative;
	font-weight:400;
	background: #fff;
	color:#43484E
}

body  section{
	padding: 75px 0;
}

a:hover {
	outline: none;
	text-decoration:none;
}

a:focus {
	outline:none;
	outline-offset: 0;
}

a {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	transition: 300ms;
	color:#81BEF7;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}



@-webkit-keyframes right {
	0%   { -webkit-transform: translate(-15px);   }
	50%  { -webkit-transform: translate(15px);    }
	100% { -webkit-transform: translate(-15px);   }
}

@-webkit-keyframes left {
	0%   { -webkit-transform: translate(15px);    }
	50%  { -webkit-transform: translate(-15px);   }
	100% { -webkit-transform: translate(15px);    }
}

@-moz-keyframes right {
	0%   { -moz-transform: translate(-15px);   }
	50%  { -moz-transform: translate(15px);    }
	100% { -moz-transform: translate(-15px);   }
}

@-moz-keyframes left {
	0%   { -moz-transform: translate(15px);    }
	50%  { -moz-transform: translate(-15px);   }
	100% { -moz-transform: translate(15px);    }
}

@keyframes right {
	0%   { transform: translate(-15px);  }
	50%  { transform: translate(15px);   }
	100% { transform: translate(-15px);  }
}

@keyframes left {
	0%   { transform: translate(15px);   }
	50%  { transform: translate(-15px);  }
	100% { transform: translate(15px);   }
}


.vertical-middle{
	width: 100%;
	height: 100%;
	display: table;
}

.vertical-middle div{
	display: table-cell;
	vertical-align: middle;
}

/*====================
======Header CSS=====
======================*/

#navigation .navbar {
  background:black;
  border-radius: 0;
  border-bottom: 0;
  box-shadow:#81BEF7 0px 3px 3px;
  padding-bottom: 8px;
  
  }

#navigation .navbar-form {
  margin-top: 2px;
}


#navigation .navbar-toggle{
  margin-top: 20px;
  background-color: #333;
}

#navigation .navbar-brand h1{
  padding: 0;
  margin: 0;
  line-height: 35px;
}

#navigation .navbar-nav.navbar-right li {
	padding: 0 1px;
}

#navigation .navbar-nav.navbar-right {
	margin-top:28px
}

#navigation .navbar-nav.navbar-right li a {
	color: white;
	font-family: 'Roboto',sans-serif;
	font-size: 15px;
	padding: 0;
	text-transform: uppercase;
	-webkit-transition: all .9s ease 0s;
	-moz-transition: all .9s ease 0s;
	transition: all .9s ease 0s;
	padding: 6px 15px;
	line-height: 20px;
	padding-top:2px; 
    padding-bottom:2px;
}

#navigation .navbar-inverse .navbar-nav  .active  a,  
#navigation .navbar-inverse .navbar-nav  .active  a:focus, 
#navigation .navbar-nav.navbar-right li a:hover {
	color: white;
	background-color: skyblue;
}


/*======================
====Main Slider CSS=====
=======================*/


#home{
  padding: 0;
  overflow: hidden;
  position:relative;
  
}

#main-carousel .carousel-inner .item {
	background-size:cover;
	height: 100%;
	background-position: 50% 50%;
	background-repeat:no-repeat;
}

#main-carousel .carousel-indicators { 
	bottom:15px
}

#main-carousel .carousel-indicators li{
	background: rgba(0, 0, 0, 0);
	border: 1px solid #fff;
	width: 13px;
	height: 13px;
	margin-left: 5px;
	text-indent: -9999px;
	display: inline-block;
}

.carousel-indicators .active{
	background-color: #fff !important;
	
}

.slider-content {
	height: 100%;
}

#main-carousel .carousel-caption {
	display: table;
	height: 100%;
	width: 100%;
	min-height: 100%;
	left: 0;
	top: 0;
	z-index: 11;
	opacity: 0.6;
}

#main-carousel .carousel-caption > div{
    vertical-align: middle;
    display: table-cell;
}

#main-carousel .carousel-inner h2 {
	color: #f6f6f6;
	display: inline-block;
	font-family: roboto;
	font-size: 55px;
	font-weight: 800;
	margin-top:110px;
	margin-bottom: 10px;
	text-shadow: skyblue;
	text-transform: uppercase;
}

#main-carousel .carousel-inner p {
	color: #f6f6f6;
	font-family: roboto;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 40px;
	margin-top: 0;
	text-shadow:none;
}

#main-carousel .carousel-left{
	left:-50px;
}

#main-carousel .carousel-right{
	right:-50px;
}

#main-carousel:hover .carousel-left{
	left:0px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	transition: 300ms;
	
}

#main-carousel:hover .carousel-right{
	right:0px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	transition: 300ms;
}

#main-carousel .carousel-left,
#main-carousel .carousel-right{
	padding: 15px;
	z-index: 12;
	font-size: 60px;
	color: rgba(255, 255, 255, 0.52);
	top: 50%;
	position: absolute;
	margin-top: -60px;
	text-align: center;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	transition: 300ms;
}

.carousel-right {
  right:65px
}

.carousel-left {
  left:65px
}

#main-carousel .carousel-left:hover,
#main-carousel .carousel-right:hover{
	color: skyblue;
}



/*=======================
====== about-me CSS =====
=========================*/


#about-me {
	background:#000;
	overflow: hidden;
	padding: 30px 0 ;
}

#about-me h2 {
	margin-bottom:35px;
	
}

.title-one {
	color: #666666;	
	font-size: 32px;
	font-weight: 600;	
	text-align: center;
	text-transform: uppercase;
	position:relative
}

.title-one1 {
	color: #666666;	
	font-size: 32px;
	font-weight: 600;	
	text-transform: uppercase;
	position:relative;
	
}

#about-me p {
	font-weight:300;
	font-size:15px
}

.about-me .nav-tabs li a {
	border-top:2px solid #f6f6f6;
	color:#fff
}

.about-me .nav-tabs li.active a, 
.about-me .nav-tabs li.active a:hover, 
.about-me .nav-tabs li.active a:focus {
	border-radius: 0;
	border-top: 2px solid cornflowerblue;
	color: #fff;
}

/*======================
======gallery CSS=====
========================*/

#gallery {
  padding-top:70px;
  padding-bottom: 100px;
  background:#000
}

#gallery p, 
#gallery h2 {
	margin-bottom:30px;
}

#gallery 
.gallery-filter {
  margin-bottom:0px;
  margin-top:0px;
}

#gallery 
.gallery-filter li {
  display: inline-block;
}

#gallery 
.gallery-filter li a:hover, 
#gallery 
.gallery-filter li a:focus,
#gallery 
.gallery-filter li a:active , 
#gallery 
.gallery-filter li .active{
	border: 1px solid #fff;
	color: #686868;
	box-shadow: none;
	-webkit-box-shadow: none;
	opacity: 1;
}

#gallery 
.gallery-filter li a {
	color: #686868;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	background: rgba(67, 72, 78, 0);
	opacity: .8;
	border: 1px solid rgba(252, 119, 0, 0);
	border-radius: inherit;
} 
/*kategorije*/

.gallery-items > div{
  padding:0;   
     
}

.gallery-items img{
  width: 90px;
  height: 90px;  
  margin-bottom: 4px;
 
    }

.view {  
  cursor: default;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width:100%;
}
	
.view img {
	display: block;
	position: relative;	
	object-fit: cover;
		
}




/*=====================
======Our instagram CSS=====
======================*/

#instagram {
	padding-bottom:75px;
	padding-top:75px;
	background:#000;
	
}

.instagram-heading {
	margin-bottom: 35px;
	margin-top: 15px;
}



/*====================
======ContactMe CSS=====
======================*/

#ContactMe {
	overflow:hidden;
	background-color: #f6f6f6;
	position:relative;
	padding-bottom:85px;
	border-top:2px solid #ddd
}

#ContactMe .ContactMe-heading {
	padding-bottom:35px;
	position: relative;
	z-index: 10;
}

.ContactMe-details {	
	padding-top:75px;
}

.pattern {
	height:100%;
	position:absolute;
	width:100%;
	z-index:1;
	left:0;
	bottom:0;
	background-image:url(../images/pattern.png);
	background-repeat:repeat;
	opacity:0.2;
}


.ContactMe-address {
	background-color: #fff;
	height:390px;
	padding-top:85px
}

.ContactMe-address .social-icons a i {
	border-radius:0;
	height:30px;
	line-height:inherit;
	width:30px;
	border-width:0;
	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	margin-right:10px
}
.ContactMe-address .social-icons i:hover {
	transform: scale(.9);
}

.social-icons a {
	color: #A2A2A2;
	font-size: 20px;
	border: 1px solid #A2A2A2;
	border-radius: 50%;
	text-align: center;
	padding: 6px;
	width: 44px;
	height: 44px;
	display: inline-block;
	margin: 2px;
}


.social-icons a:hover {
  color: #81BEF7;
  border: 1px solid #81BEF7;
}

.ContactMe-address .social-icons, 
.ContactMe-address address {
	z-index:2;
	position:relative
}

.ContactMe-address  p {
	font-weight:800;
	font-size:24px
}

.ContactMe-address  p span {
	color: #81BEF7;
	
}

#ContactMe-form-section {	
	padding:35px;
	background-color: #FFF; 
	height:390px;
}
#ContactMe-form-section .btn-primary {
	background-color:#81BEF7;
	border-color:#f6f6f6;
	border-radius:0;
	padding:10px 35px;
	text-transform:uppercase;
	font-weight:800;
	transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
 }

#ContactMe-form-section .btn-primary:hover {
	background-color:#43484E
}

#ContactMe-form input, 
#ContactMe-form textarea, 
#ContactMe-form .btn-primary  {
	position:relative;
	z-index:2;
}

#ContactMe-form .name-field, 
#ContactMe-form .mail-field  {
	width:49%;
}

#ContactMe-form .name-field {
	margin-right:2%;	
	float:left
}

#ContactMe-form .mail-field {
	
}

#ContactMe-form-section .form-control {
	border-radius:0;
	-webkit-box-shadow:none;
	box-shadow:none;
}

#ContactMe-form-section textarea {
	resize:none
}

#ContactMe-form-section .form-control:focus {
	border-color: #81BEF7;
	outline: 0;
	-webkit-box-shadow:none;
	box-shadow:none;
}


/*============================
======Carousel Effect CSS=====
==============================*/


.carousel.scale .carousel-inner > .item.left > div:nth-child(1),
.carousel.scale .carousel-inner > .item.right > div:nth-child(1) {
  -webkit-animation: fadeOutDown 300ms linear 0ms both;
  animation: fadeOutDown 300ms linear 0ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(1),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(1) {
  -webkit-animation: fadeInDown 300ms linear 75ms both;
  animation: fadeInDown 300ms linear 75ms both;
}

.carousel.scale .carousel-inner > .item.left > div:nth-child(2),
.carousel.scale .carousel-inner > .item.right > div:nth-child(2) {
  -webkit-animation: fadeOutDown 300ms linear 75ms both;
  animation: fadeOutDown 300ms linear 75ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(2),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(2) {
  -webkit-animation: fadeInDown 300ms linear 150ms both;
  animation: fadeInDown 300ms linear 150ms both;
}

.carousel.scale .carousel-inner > .item.left > div:nth-child(3),
.carousel.scale .carousel-inner > .item.right > div:nth-child(3) {
  -webkit-animation: fadeOutDown 300ms linear 150ms both;
  animation: fadeOutDown 300ms linear 150ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(3),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(3) {
  -webkit-animation: fadeInDown 300ms linear 225ms both;
  animation: fadeInDown 300ms linear 225ms both;
}

.carousel.scale .carousel-inner > .item.left > div:nth-child(4),
.carousel.scale .carousel-inner > .item.right > div:nth-child(4) {
  -webkit-animation: fadeOutDown 300ms linear 225ms both;
  animation: fadeOutDown 300ms linear 225ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(4),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(4) {
  -webkit-animation: fadeInDown 300ms linear 300ms both;
  animation: fadeInDown 300ms linear 300ms both;
}






